@model SmartFinances.Models.Administration.UserDetailsVM

@{
    ViewData["Title"] = "UserDetails";
}

<h1>User Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @foreach(var account in Model.Accounts)
        {
            <dt class = "col-sm-2">
                Account number
            </dt>
            <dd class = "col-sm-10">
                @account.Number
            </dd>
        }
    </dl>
</div>
<div> 
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>
